/*
color theme: soothing/ calm
  ornage: #ee805b
  soothing: #ede4e9, #606078, #d2b9bf, #cbbccf, #98a0b0
  background-img: ['https://i.pinimg.com/474x/52/f9/c8/52f9c8661023efac72475396b29a318a.jpg',
  'https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2117&q=80'
  ]
*/
/* .forBG {
  position: relative;
  display: coloum;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  
}::before {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    content: ' ';
    background-image: url('https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2117&q=80'); 
    background-size: cover;
    background-position: top center;
    opacity: 0.1;
    background-color: #485065;
  } */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');


body {
  background: linear-gradient(45deg, rgba(202, 58, 161, 0.747), 0%, rgba(32, 151, 135, 0.637), 100%);
  margin: 0;
}

/* .forBG {
  color: #000;
} */

.headertest {
  /* border: 2px solid #808569; */
  
  /* border-radius: 20px; */
  /* box-shadow: 3px 5px #923922; */
  background-color: #fff;
  color: #000;
  width: 100%;
  height: 100px;
  text-align: center;
  font-family: 'Fasthand', cursive;
  font-size: 45px;
}
.headertest img {
  height: 130px;
}
/* h1 {
  text-align: center;
  color: #98a0b0;
  font-family: 'Nanum Gothic Coding', monospace;
} */
.habit-selector {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.habit-selector p {
  font-size: 35px;
  margin-left: 0px;
  margin-right: 35px;
}
.bad-habits {
  width: 400px;
  height: 50px;
  border: 3px solid #a3bbce;
  border-radius: 20px;
  font-family: 'Nanum Gothic Coding', monospace;  
  font-weight: 700;
  margin-right: 40px;
  margin-top: 15px;
}
.habit-selector button {
  width: 300px;
  height: 50px;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 25px;
  background-color: #f3e9e9;
  border: 0px solid #f3e9e9;
  border-radius: 50px;
  box-shadow: 6px 6px #a3bbce;
  margin-top: 15px;
}
.habit-selector button:hover {
  background-color: #a3bbce;
  border: 0px solid #a3bbce;
  border-radius: 50px;
  box-shadow: 6px 6px #f3e9e9;
}
p {
  font-family: 'Nanum Gothic Coding', monospace;  
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}
.checkIn {
  color: #eaded3;
  margin-top: 80px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.checkIn h1 {
  color: #000;
  /* background-color: #808569;
  height: 100px;
  width: 700px; */
  text-align: center;
  text-shadow: 4px 2px #cbbccf;
  font-family: 'Nanum Gothic Coding', monospace;  
  font-size: 45px;
}
.checkInButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkInButtons button {
  height: 50px;
  width: 80px;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 25px;
  background-color: #f3e9e9;
  border: 0px solid #f3e9e9;
  border-radius: 50px;
  box-shadow: 6px 6px #a3bbce;
  margin-right: 30px;
}
.checkInButtons button:hover {
  background-color: #a3bbce;
  border: 0px solid #a3bbce;
  border-radius: 50px;
  box-shadow: 6px 6px #f3e9e9;
}

.infoHeader {
  font-family: 'Nanum Gothic Coding', monospace;
  text-align: center;
  color: #3f5178;
  margin-top: 40px;
}

.infoBody {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.leftInfoBody {
  height: 420px;
  margin-top: 400px;
  position: absolute;
  left: 20px;
  width: 60%;
  border: 5px solid #d3e5ee;
  border-radius: 20px;
}
.quitInfo p {
  font-size: 40px;
  margin-top: 60px;
  padding: 15px;
  color: #ee805b;
}
.upcomingInfo {
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #3f5178;
  font-size: 15px;
  margin: 10px;
  padding: 15px;
}
.upcomingInfo li {
  text-align: center;
  list-style: none;
  color: #3f5178;
}
.healthBenefits p {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 20px;
  color: #3f5178;
  padding: 40px;
}
.left-up {
  display: flex;
}





.rightInfoBody {
  /* background-color: #d3e5ee; */
  height: 420px;
  margin-top: 400px;
  position: absolute;
  right: 20px;
  width: 30%;
  border: 5px solid #d3e5ee;
  border-radius: 20px;
}
.rightInfoBody h1 {
  margin-top: 50px;
  text-align: center;
  font-family: monospace;
  font-size: 20px;
}
.rightInfoBody li {
  list-style: none;
  text-align: center;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 20px;
  color: #3f5178;
  margin-top: 20px;
}
.rightInfoBody button {
  text-align: center;
  height: 40px;
  width: 120px;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 25px;
  background-color: #f3e9e9;
  border: 0px solid #f3e9e9;
  border-radius: 50px;
  box-shadow: 6px 6px #a3bbce;
  margin-top: 50px;
  margin-left: 30%;
}
.rightInfoBody button:hover {
  background-color: #a3bbce;
  border: 0px solid #a3bbce;
  border-radius: 50px;
  box-shadow: 6px 6px #f3e9e9;
}
/* .healthBenefits {
  color: #eaded3;
} */